.footer {
    display: flex;
    flex-direction: column;
    line-height: var(--text-preset-6-line-height);

    @media (min-width: 63em) {
        .footer-info>p {
            max-width: 25rem;
        }

        .footer-navigation {
            max-width: 31.626rem;
            width: 100%;
        }
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-navigation {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @media (max-width: 35em) {
            flex-direction: column;
        }
    }

    .navigation-column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .navigation-title {
        font-size: var(--text-preset-6-medium-size);
        line-height: var(--text-preset-6-medium-line-height);
        letter-spacing: var(--text-preset-6-medium-letter-spacing);
        font-weight: var(--text-preset-6-medium-weight);
    }

    .navigation,
    .track-navs {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        transition: .2s;

        @media (hover: hover) and (pointer: fine) {
            a:hover {
                color: var(--green-200);
            }
        }
    }

    .venue {
        white-space: pre-line;
    }

    &>div {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        border-top: 1px solid var(--neutral-600);

        &:first-child {
            display: flex;
            padding-block: 2.5rem;

            @media (max-width: 62em) {
                flex-direction: column;
                padding-block: 2rem;
                gap: 1.25rem;
            }
        }

        &:last-child {
            padding-block: 1.5rem;
            font-size: var(--text-preset-7-size);
            letter-spacing: var(--text-preset-7-letter-spacing);

            @media (max-width: 35em) {
                padding-block: 1.25rem;
                flex-direction: column;
                gap: .75rem;
            }
        }
    }

    .back-to-top {
        display: flex;
        align-items: center;
        align-self: baseline;
        position: relative;
        text-transform: uppercase;

        &::after {
            content: '';
            width: 1.25rem;
            height: 1rem;
            background: var(--neutral-100);
            -webkit-mask: url('./../../images/icon-arrow-right.svg') center / contain no-repeat;
            mask: url('./../../images/icon-arrow-right.svg') center / contain no-repeat;
            transform: rotateY(45deg) rotateZ(-90deg);
            transition: 0.2s;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--green-200);

                &::after {
                    background-color: var(--green-200);
                }
            }
        }
    }
}