.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.25rem;
    gap: 1rem;
    position: relative;
    background-color: var(--neutral-900);
    z-index: 10;

    @media (max-width: 45.5em) {
        padding-block: .75rem;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: calc(100% - 2rem);
        height: 1px;
        background-color: var(--neutral-600);
    }
}

.logo {
    max-width: 192px;
}

.header-nav {
    display: flex;
    gap: 1rem;
    transition: all .2s;

    @media (max-width: 45.5em) {
        padding: 0 1rem;
        position: fixed;
        top: 4rem;
        left: 100%;
        opacity: 0;
        visibility: hidden;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .625rem 1.5rem;
        border: 1px solid var(--neutral-100);
        font-weight: var(--text-preset-6-weight);
        font-size: var(--text-preset-6-size);
        line-height: var(--text-preset-6-line-height);
        outline: none;
        text-transform: uppercase;
        transition: .2s;

        &.isActive {
            color: var(--green-200);
            border: 1px solid var(--green-200);
            box-shadow: 2px 2px 0px var(--green-200);
        }

        &:focus-visible {
            color: var(--neutral-100);
            border: 1px dashed var(--green-200);
            box-shadow: 2px 2px 0px var(--green-200);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--neutral-100);
                border: 1px solid var(--neutral-100);
                box-shadow: 2px 2px 0px var(--neutral-100);
            }
        }
    }
}


.menu-button {
    display: none;
    outline: none;
    transition: .2s;

    @media (max-width: 45.5em) {
        position: relative;
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid var(--neutral-100);

        span,
        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 50%;
            height: 0.125rem;
            left: 25%;
            background: var(--neutral-100);
            transition: .2s;
        }

        span {
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            top: 32%;
        }

        &::after {
            bottom: 32%;
        }

        &:focus-visible {
            border: 1px dashed var(--green-200);
            box-shadow: 2px 2px 0px var(--green-200);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border: 1px solid var(--neutral-100);
                box-shadow: 2px 2px 0px var(--neutral-100);
            }
        }
    }
}

body.menu-open {
    overflow: hidden;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
        z-index: 5;
        animation: fadeOverlay .2s ease forwards;
    }

    .header {
        background-color: var(--neutral-800);

    }

    .header-nav {
        flex-direction: column;
        position: fixed;
        padding-block-start: 1.5rem;
        padding-block-end: 2.5rem;
        background-color: var(--neutral-800);
        top: 4rem;
        left: 0;
        width: 100%;
        opacity: 1;
        visibility: visible;
        z-index: 1;

        a {
            text-align: center;
        }
    }

    .menu-button {
        span {
            opacity: 0;
            transform: translateY(-50%) scale(0);
        }

        &::before {
            top: 50%;
            transform-origin: center;
            transform: translateY(-50%) rotate(45deg);
        }

        &::after {
            bottom: 50%;
            transform-origin: center;
            transform: translateY(50%) rotate(-45deg);
        }
    }
}


@keyframes fadeOverlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}