.main-home {
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
    padding-block: 4rem;

    @media (max-width: 62em) {
        padding-block: 2.5rem;
    }

    @media (max-width: 35em) {
        padding-block: 2rem;
    }
}

.hero {
    display: grid;
    /* або 0.6fr 0.4fr */
    grid-template-columns: 3fr 2fr;
    gap: 2rem;

    @media (max-width: 75em) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 62em) {
        grid-template-columns: 1fr;
    }
}

.conference {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    color: var(--neutral-900);
    background: var(--neutral-100) url('./../../images/bg-horizon-text.svg') center / 70% no-repeat;
    min-height: 25rem;

    @media (max-width: 62em) {
        min-height: 22.5rem;
    }

    @media (max-width: 35em) {
        min-height: 13.75rem;
        background-size: 80%;
    }

    .title {
        font-family: var(--font-primary);
        font-size: var(--text-size-80);
        font-weight: var(--font-bold);
        line-height: var(--line-height-100);
        letter-spacing: var(--letter-spacing-2);
        text-transform: lowercase;

        @media (max-width: 35em) {
            font-size: var(--text-size-38);
        }
    }

    .details {
        display: flex;
        justify-content: space-between;
        padding-block-start: 1rem;
        border-top: 2px solid var(--neutral-900);
        text-transform: uppercase;
    }
}

.keynote {
    display: flex;
    flex-direction: column;
    min-width: 530px;
    width: 100%;
    gap: 0.5rem;
    position: relative;
    font-family: var(--font-mono);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    color: var(--neutral-900);
    background-color: var(--cyan-100);
    padding: 1.5rem;
    overflow: hidden;

    @media (max-width: 75em) {
        min-width: auto;
    }

    .keynote-title {
        color: initial;
        font-weight: var(--font-regular);
        font-size: var(--text-size-14);
    }

    .speaker-name {
        font-family: var(--font-primary);
        font-size: var(--text-size-32);
        line-height: var(--line-height-120);
        text-transform: lowercase;
    }

    .role {
        font-weight: var(--font-medium);
        color: var(--neutral-600);
        max-width: 19.5rem;
    }

    .topic-talk {
        font-size: var(--text-size-16);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 19.5rem;
        flex: 1 0 auto;
    }

    .meeting-time {
        font-weight: var(--font-medium);
        color: var(--neutral-600);
    }

    .avatar {
        position: absolute;
        height: 355px;
        right: -25%;
        bottom: 0;
        aspect-ratio: 1.27;

        @media (max-width: 62em) {
            right: -45px;
            height: 330px;
        }

        @media (max-width: 35em) {
            opacity: 0;
        }
    }

    .view-more {
        display: flex;
        align-items: start;
        align-self: baseline;
        justify-content: center;
        gap: 0.75rem;
        font-size: var(--text-size-16);
        padding: 1rem 1.5rem;
        border: 1px solid var(--neutral-900);
        box-shadow: 2px 2px 0px var(--neutral-900);
        margin-block-start: 2.28175rem;
        font-weight: var(--font-bold);
        transition: .2s;

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: var(--neutral-900);
            -webkit-mask: url('./../../images/icon-arrow-right.svg') center / contain no-repeat;
            mask: url('./../../images/icon-arrow-right.svg') center / contain no-repeat;
        }

        &:focus,
        &:focus-visible {
            border: 1px dashed var(--neutral-600);
            box-shadow: 2px 2px 0px var(--neutral-600);
            outline: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--neutral-900);
                border: 1px solid var(--neutral-600);
                box-shadow: 2px 2px 0px var(--neutral-600);
                color: var(--neutral-100);

                &::after {
                    background-color: var(--neutral-100);
                }
            }
        }
    }
}

/* === TRAKS === */

.tracks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .track-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        @media (max-width: 62em) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 35em) {
            grid-template-columns: 1fr;

        }

        .card-link {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem 1.25rem;
            gap: .375rem;

            border: 1px solid var(--neutral-100);
            box-shadow: 2px 2px 0px var(--neutral-100);

            span {
                font-family: var(--font-primary);
                font-weight: var(--font-semibold);
                font-size: var(--text-size-24);
                line-height: var(--line-height-130);
                text-transform: lowercase;
            }

            p {
                color: var(--neutral-200);
                text-transform: uppercase;
            }

            &:focus,
            &:focus-visible {
                border: 1px dashed var(--green-200);
                box-shadow: 2px 2px 0px var(--green-200);
                outline: none;
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    border: 1px solid var(--green-200);
                    box-shadow: 2px 2px 0px var(--green-200);
                }
            }
        }
    }
}

.schedule,
.speakers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .view-all-link {
        margin-block-start: 1.5rem;
    }
}