.main-schedule {
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
    padding-block: 2.5rem;

    @media (max-width: 35em) {
        padding-block: 2rem;
    }

    .schedule-title {
        font-family: var(--font-primary);
        font-size: var(--text-size-32);
        text-transform: lowercase;
    }
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: .625rem;

    .day-btn:not(:has(+ .day-btn)) {
        position: relative;
        margin-inline-end: .375rem;

        &::after {
            content: '';
            position: absolute;
            right: -.625rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 1.5rem;
            background-color: var(--neutral-600);
            pointer-events: none;
        }
    }

    .day-btn,
    .track-btn,
    .schedule-btn,
    .clear-btn {
        display: flex;
        align-items: center;
        font-weight: var(--font-medium);
        text-transform: uppercase;
        padding: .5rem 1rem;
        border: 1px solid var(--neutral-100);
        transition: .2s;
    }

    .track-btn {
        border: 1px solid var(--neutral-500);
        border-radius: 62rem;
    }

    .day-btn,
    .track-btn {

        &.is-active {
            color: var(--neutral-900);
            background-color: var(--green-200);
        }

        &:focus-visible {
            color: var(--green-200);
            border: 1px dashed var(--green-200);
            box-shadow: 2px 2px 0px var(--green-200);
            outline: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--green-200);
                border: 1px solid var(--green-200);
                box-shadow: 2px 2px 0px var(--green-200);
                background-color: var(--neutral-900);
            }
        }
    }

    .schedule-btn {
        color: var(--green-200);
        border-radius: 62rem;
        border: 1px dashed var(--green-200);
        transition: .2s;

        &.is-active {
            color: var(--neutral-900);
            background-color: var(--green-200);
        }

        &:focus-visible {
            color: var(--green-200);
            border: 1px solid var(--green-200);
            box-shadow: 2px 2px 0px var(--green-200);
            outline: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--green-200);
                border: 1px dashed var(--green-200);
                box-shadow: 2px 2px 0px var(--green-200);
                background-color: var(--neutral-900);
            }
        }
    }

    .clear-btn {
        color: var(--red-300);
        border-color: var(--red-300);
        border-radius: 62rem;
        transition: .2s;

        &:focus-visible {
            color: var(--red-300);
            border: 1px dashed var(--red-300);
            box-shadow: 2px 2px 0px var(--red-300);
            outline: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--red-300);
                border: 1px solid var(--red-300);
                box-shadow: 2px 2px 0px var(--red-300);
                background-color: var(--neutral-900);
            }
        }
    }

    button:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        pointer-events: none;
        background-color: var(--neutral-800);
        color: var(--neutral-500);
        border-color: var(--neutral-600);
    }
}

.talk-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.talk {
    display: grid;
    grid-template-columns: auto 1fr auto;
    color: var(--neutral-900);

    @media (max-width: 35em) {
        grid-template-columns: 1fr;
    }
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: .625rem;
    font-weight: var(--font-medium);

    p {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-transform: uppercase;
    }

    @media (max-width: 35em) {
        padding-block: .375rem;

        p {
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
        }
    }
}

.talk-body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;

    @media (max-width: 35em) {
        padding: 1rem;
    }

    .topic {
        font-family: var(--font-primary);
        font-weight: var(--font-bold);
        font-size: var(--text-size-32);
        line-height: var(--line-height-120);
        text-transform: lowercase;

        @media (max-width: 62em) {
            font-size: var(--text-size-28);
        }

        @media (max-width: 35em) {
            font-size: var(--text-size-24);
            line-height: var(--line-height-110);
        }
    }

    .speaker {
        font-size: var(--text-size-16);
        display: flex;
        gap: .5rem;
        text-transform: uppercase;

        &>span:first-child {
            font-weight: var(--font-bold);
        }

        &>span:last-child {
            color: var(--neutral-600);

            @media (max-width: 35em) {
                align-self: end;
            }
        }
    }
}

.talk-details {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    overflow: hidden;
    transition: grid-template-rows .25s ease, opacity .2s ease, padding .25s ease;
    border-top: 1px solid rgba(51, 68, 74, .1);

    .wrap-details.isActive & {
        grid-template-rows: 1fr;
        opacity: 1;
        padding-block: .75rem;
    }

    .details-inner {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: .75rem;

        p:last-child {
            text-transform: uppercase;
            font-weight: var(--font-medium);
        }
    }
}

.show-details {
    position: relative;
    font-size: var(--text-size-12);
    display: flex;
    align-items: center;
    gap: .25rem;
    letter-spacing: var(--letter-spacing-05);
    text-transform: uppercase;
    color: var(--neutral-600);
    transition: .2s;
    background: transparent;
    cursor: pointer;

    &::before {
        content: '';
        width: .9rem;
        height: .9rem;
        background-color: var(--neutral-600);
        -webkit-mask: url('/images/icon-plus.svg') center / contain no-repeat;
        mask: url('/images/icon-plus.svg') center / contain no-repeat;
        transition: .2s;
    }

    &.isActive::before {
        -webkit-mask-image: url('/images/icon-minus.svg');
        mask-image: url('/images/icon-minus.svg');
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            font-weight: var(--font-bold);
            color: var(--neutral-900);

            &::before {
                background-color: var(--neutral-900);
            }
        }
    }
}

.talk-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    border-left: 2px dashed var(--neutral-900);

    @media (max-width: 35em) {
        flex-direction: row;
        border-left: none;
        border-top: 2px dashed var(--neutral-900);
        padding-block: .625rem;
    }

    .start-end {
        display: flex;
        flex-direction: column;
        text-align: center;

        &>span:first-child {
            font-family: 'Chakra Petch';
            font-weight: var(--font-bold);
            font-size: var(--text-size-20);
        }

        &>span:last-child {
            font-size: var(--text-size-12);
            letter-spacing: var(--letter-spacing-05);
        }
    }

    .day {
        font-size: var(--text-size-12);
        text-transform: uppercase;
    }

    .btn-favorite {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: var(--neutral-900) url('/images/icon-star-empty.svg') center / 50% no-repeat;
        cursor: pointer;
        transition: .2s;

        &:focus,
        &:focus-visible {
            color: var(--green-200);
            border: 1px dashed var(--green-200);
            box-shadow: 2px 2px 0px var(--green-200);
            outline: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--neutral-100);
                border: 1px solid var(--neutral-100);
                box-shadow: 2px 2px 0px var(--neutral-100);
            }
        }

        &.is-active {
            background-image: url('/images/icon-star-filled.svg');
        }
    }
}