@import './fonts.css';
@import './variables.css';
@import './reset.css';
@import './components/header.css';
@import './components/footer.css';
@import './pages/home.css';
@import './pages/schedule.css';
@import './pages/speakers.css';

body {
    background-color: var(--neutral-900);
    color: var(--neutral-100);
    display: flex;
    flex-direction: column;
    font-family: var(--font-mono);
    font-size: var(--text-size-14);
    line-height: var(--line-height-140);
    font-weight: var(--font-regular);
    font-style: normal;
    min-height: 100%;

    main {
        flex: 1;
    }
}

.container {
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 1rem;
}

.success {
    background-color: var(--green-200);
}

.error {
    color: var(--red-300);
}

.logo {
    max-width: 192px;
}

[class$="-title"] {
    display: flex;
    gap: .3rem;
    position: relative;
    font-family: var(--font-primary);
    text-transform: uppercase;
    color: var(--green-200);

    &::before {
        content: '//';
    }
}

[class$="-all-link"] {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 0 0 auto;
    width: max-content;
    font-size: var(--text-size-16);
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: var(--neutral-100);
    border: 1px solid var(--neutral-100);
    box-shadow: 2px 2px 0px var(--neutral-100);
    transition: .2s;

    &:focus,
    &:focus-visible {
        border: 1px dashed var(--green-200);
        box-shadow: 2px 2px 0px var(--green-200);
        outline: none;
    }


    @media (hover: hover) and (pointer: fine) {
        &:hover {
            font-weight: var(--font-bold);
            color: var(--neutral-900);
            background: var(--green-200);
            border: 1px solid var(--green-200);
            box-shadow: 4px 4px 0px var(--neutral-600);

        }
    }
}